/* Import Open Sans from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Open Sans font to the entire body */
body {
    font-family: 'Open Sans', sans-serif; /* Use Open Sans with fallback to sans-serif */
}

/* Styling for h1 to make it smaller */
header h1 {
  @apply text-lg m-0;
  display: inline; /* Make sure the h1 is inline */
}

/* Basic styling for navigation container */
nav {
  @apply bg-gray-200 p-5 mb-5 flex flex-wrap gap-2;
}

/* Styling for individual navigation links */
nav a {
  @apply px-6 py-3 no-underline text-black bg-gray-300 rounded-md transition duration-300;
  white-space: nowrap; /* Prevents text from wrapping */
  font-size: 16px;  /* Larger font size for readability */
}

/* Hover effect for navigation links */
nav a:hover {
  @apply bg-gray-400;
}

/* Styling for active link */
nav a.active {
  @apply bg-gray-500 text-white;
}

/* Styling for sub-nav and top-nav buttons and links */
.sub-nav a, .sub-nav button, .top-nav a, .top-nav button {
  @apply px-6 py-3 no-underline text-black bg-gray-300 rounded-md transition duration-300;
  white-space: nowrap;
  font-size: 16px;
  border: none; /* Remove default button border */
}

.sub-nav a:hover, .sub-nav button:hover, .top-nav a:hover, .top-nav button:hover {
  @apply bg-gray-400;
}

.sub-nav a.active-tab, .sub-nav button.active-tab, .top-nav a.active-tab, .top-nav button.active-tab {
  @apply bg-blue-500 text-white;
}

.tab-content {
  @apply mt-5;
}

/* Header container styling */
.header-container {
  @apply flex items-center;
  gap: 10px; /* Add some space between the title and badge */
}

/* Badge styling */
.badge {
  background-color: #f87171 !important; /* Tailwind color: red-400 */
  color: white !important;
  padding: 0.1rem 0.3rem !important;
  border-radius: 9999px !important;
  font-size: 0.6rem !important; /* Tailwind text-xs */
  margin-left: 0.25rem !important; /* Tailwind ml-1 */
  display: inline-block !important;
  vertical-align: super !important; /* Align as superscript */
  line-height: 1; /* Ensure the badge has a single line height */
}

